.km-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.km-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

.km-table,
.km-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.km-btn,
.km-button {
	border: 0;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.km-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.km-btn,
.km-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.km-btn:disabled,
.km-button:disabled,
.km-disabled {
	cursor: not-allowed;
	opacity: .3
}

.km-disabled *,
:disabled * {
	pointer-events: none
}

.km-btn.km-disabled:hover,
.km-btn:disabled:hover {
	box-shadow: none
}

.km-badge,
.km-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.km-badge {
	border-radius: 50%
}

.km-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.km-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.km-ul li:last-child {
	border-bottom: 0
}

.km-select {
	padding: 9px 0;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc
}

.km-dropdown-click,
.km-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.km-dropdown-hover:hover .km-dropdown-content {
	display: block
}

.km-dropdown-click:hover,
.km-dropdown-hover:first-child {
	background-color: #ccc;
	color: #000
}

.km-dropdown-click:hover>.km-button:first-child,
.km-dropdown-hover:hover>.km-button:first-child {
	background-color: #ccc;
	color: #000
}

.km-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.km-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed!important;
	z-index: 1;
	overflow: auto
}

.km-bar-block .km-dropdown-click,
.km-bar-block .km-dropdown-hover {
	width: 100%
}

.km-bar-block .km-dropdown-click .km-dropdown-content,
.km-bar-block .km-dropdown-hover .km-dropdown-content {
	min-width: 100%
}

.km-bar-block .km-dropdown-click .km-button,
.km-bar-block .km-dropdown-hover .km-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

#main,
.km-main {
	transition: margin-left .4s
}

.km-bar {
	width: 100%;
	overflow: hidden
}

.km-center .km-bar {
	display: inline-block;
	width: auto
}

.km-bar .km-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: 0;
	display: block;
	outline: 0
}

.km-bar .km-dropdown-click,
.km-bar .km-dropdown-hover {
	position: static;
	float: left
}

.km-bar .km-button {
	white-space: normal
}

.km-bar-block .km-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: 0;
	white-space: normal;
	float: none;
	outline: 0
}

.km-bar-block.km-center .km-bar-item {
	text-align: center
}

.km-block {
	display: block;
	width: 100%
}

.km-responsive {
	display: block;
	overflow-x: auto
}

.km-bar:after,
.km-bar:before,
.km-cell-row:after,
.km-cell-row:before,
.km-clear:after,
.km-clear:before,
.km-container:after,
.km-container:before,
.km-panel:after,
.km-panel:before,
.km-row-padding:after,
.km-row-padding:before,
.km-row:after,
.km-row:before {
	content: "";
	display: table;
	clear: both
}

.km-col,
.km-half,
.km-quarter,
.km-third,
.km-threequarter,
.km-twothird {
	float: left;
	width: 100%
}
.km-col.s1 {
	width: 8.33333%
}

.km-col.s2 {
	width: 16.66666%
}

.km-col.s3 {
	width: 24.99999%
}

.km-col.s4 {
	width: 33.33333%
}

.km-col.s5 {
	width: 41.66666%
}

.km-col.s6 {
	width: 49.99999%
}

.km-col.s7 {
	width: 58.33333%
}

.km-col.s8 {
	width: 66.66666%
}

.km-col.s9 {
	width: 74.99999%
}

.km-col.s10 {
	width: 83.33333%
}

.km-col.s11 {
	width: 91.66666%
}

.km-col.s12 {
	width: 99.99999%
}
@media(min-width:601px) {
	.km-col.m1 {
		width: 8.33333%
	}
	.km-col.m2 {
		width: 16.66666%
	}
	.km-col.m3,
	.km-quarter {
		width: 24.99999%
	}
	.km-col.m4,
	.km-third {
		width: 33.33333%
	}
	.km-col.m5 {
		width: 41.66666%
	}
	.km-col.m6,
	.km-half {
		width: 49.99999%
	}
	.km-col.m7 {
		width: 58.33333%
	}
	.km-col.m8,
	.km-twothird {
		width: 66.66666%
	}
	.km-col.m9,
	.km-threequarter {
		width: 74.99999%
	}
	.km-col.m10 {
		width: 83.33333%
	}
	.km-col.m11 {
		width: 91.66666%
	}
	.km-col.m12 {
		width: 99.99999%
	}
}

@media(min-width:993px) {
	.km-col.l1 {
		width: 8.33333%
	}
	.km-col.l2 {
		width: 16.66666%
	}
	.km-col.l3 {
		width: 24.99999%
	}
	.km-col.l4 {
		width: 33.33333%
	}
	.km-col.l5 {
		width: 41.66666%
	}
	.km-col.l6 {
		width: 49.99999%
	}
	.km-col.l7 {
		width: 58.33333%
	}
	.km-col.l8 {
		width: 66.66666%
	}
	.km-col.l9 {
		width: 74.99999%
	}
	.km-col.l10 {
		width: 83.33333%
	}
	.km-col.l11 {
		width: 91.66666%
	}
	.km-col.l12 {
		width: 99.99999%
	}
}
.km-auto,
.km-content {
	margin-left: auto;
	margin-right: auto
}

.km-content {
	max-width: 980px
}

.km-hide {
	display: none!important
}

.km-show,
.km-show-block {
	display: block!important
}

.km-show-inline-block {
	display: inline-block!important
}
@media(max-width:1205px) {
	.km-auto {
		max-width: 95%
	}
}

@media(max-width:600px) {
	.km-hide-small {
		display: none!important
	}
}
@media(min-width:993px) {
	.km-hide-large {
		display: none!important
	}
	.km-sidebar.km-collapse {
		display: block!important
	}
}
@media(max-width:992px) and (min-width:601px) {
	.km-hide-medium {
		display: none!important
	}
}

@media(max-width:992px) {
	.km-sidebar.km-collapse {
		display: none
	}
	.km-main {
		margin-left: 0!important;
		margin-right: 0!important
	}
	.km-auto {
		max-width: 100%
	}
}
.km-bottom,
.km-top {
	position: fixed;
	width: 100%;
	z-index: 1
}

.km-top {
	top: 0
}

.km-bottom {
	bottom: 0
}

.km-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2
}

.km-row-padding,
.km-row-padding>.km-col,
.km-row-padding>.km-half,
.km-row-padding>.km-quarter,
.km-row-padding>.km-third,
.km-row-padding>.km-threequarter,
.km-row-padding>.km-twothird {
	padding: 0 8px
}

.km-container,
.km-panel {
	padding: .01em 16px
}

.km-panel {
	margin-top: 16px;
	margin-bottom: 16px
}

.km-code,
.km-codespan {
	font-family: Consolas, courier new;
	font-size: 16px
}

.km-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4caf50;
	word-wrap: break-word
}

.km-codespan {
	color: #dc143c;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%
}

.km-card,
.km-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.km-card-4,
.km-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19)
}
.km-small {
	font-size: 12px!important
}

.km-medium {
	font-size: 15px!important
}

.km-large {
	font-size: 18px!important
}

.km-xlarge {
	font-size: 24px!important
}

.km-xxlarge {
	font-size: 36px!important
}

.km-xxxlarge {
	font-size: 48px!important
}

.km-jumbo {
	font-size: 64px!important
}

.km-center {
	text-align: center!important
}

.km-leftbar {
	border-left: 6px solid #ccc!important
}

.km-rightbar {
	border-right: 6px solid #ccc!important
}

.km-code,
.km-section {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}

.km-margin {
	margin: 16px!important
}

.km-margin-top {
	margin-top: 16px!important
}

.km-margin-bottom {
	margin-bottom: 16px!important
}

.km-margin-left {
	margin-left: 16px!important
}

.km-margin-right {
	margin-right: 16px!important
}

.km-padding-small {
	padding: 4px 8px!important
}

.km-padding {
	padding: 8px 16px!important
}

.km-padding-large {
	padding: 12px 24px!important
}

.km-padding-16 {
	padding-top: 16px!important;
	padding-bottom: 16px!important
}

.km-padding-24 {
	padding-top: 24px!important;
	padding-bottom: 24px!important
}

.km-padding-32 {
	padding-top: 32px!important;
	padding-bottom: 32px!important
}

.km-padding-48 {
	padding-top: 48px!important;
	padding-bottom: 48px!important
}

.km-padding-64 {
	padding-top: 64px!important;
	padding-bottom: 64px!important
}

.km-left {
	float: left!important
}

.km-right {
	float: right!important
}

table.km-table-all{margin:20px 0}.topnav{position:fixed;z-index:12;font-size:17px;background-color:green;color:#f1f1f1;width:100%;padding:0;letter-spacing:1px;font-family:"Segoe UI",Arial,sans-serif}.topnav a{padding:10px 15px!important}.topnav .km-bar a:focus,.topnav .km-bar a:hover{background-color:#1e90ff!important;color:#fff!important}.topnav a.active{background-color:#0065c7;color:#fff}a.topnav-icons{width:52px!important;font-size:20px!important;padding-top:11px!important;padding-bottom:13px!important}i.kh-caret-down,i.kh-caret-up{width:10px}#sidenav h2{font-size:21px;padding-left:16px;margin:-4px 0 4px 0;width:204px}#leftmenuinner{position:fixed;top:0;padding-top:44px;padding-bottom:0;height:100%;width:22%;background-color:#87ceeb}#leftmenuinnerinner{background-color:#87ceeb!important;border:none;height:100%;width:100%;overflow-y:scroll;overflow-x:hidden}#main{padding:16px}#mainLeaderboard{height:90px}#right{text-align:center;padding:16px 16px 0 0}#right a{text-decoration:none}#right a:hover{text-decoration:underline}#skyscraper{min-height:600px}.sidesection{margin-bottom:32px}.bottomad{padding:0 16px 16px 0;float:left;width:auto}.footer a{text-decoration:none}.footer a:hover{text-decoration:underline}#nav_exercises,#nav_references,#nav_tutorials{-webkit-overflow-scrolling:touch;overflow:auto;background:#00008b;position:fixed;top:0;width:100%;left:0;z-index:5}#nav_exercises::-webkit-scrollbar,#nav_references::-webkit-scrollbar,#nav_tutorials::-webkit-scrollbar{width:12px}#nav_exercises::-webkit-scrollbar-track,#nav_references::-webkit-scrollbar-track,#nav_tutorials::-webkit-scrollbar-track{background:#555}#nav_exercises::-webkit-scrollbar-thumb,#nav_references::-webkit-scrollbar-thumb,#nav_tutorials::-webkit-scrollbar-thumb{background:#999}#nav_exercises,#nav_references,#nav_tutorials{display:none;letter-spacing:0;margin-top:44px}#nav_exercises a,#nav_references a,#nav_tutorials a{padding:2px 0 2px 6px!important;color:#fff}#nav_exercises a:focus,#nav_references a:focus,#nav_tutorials a:focus{color:#fff;background-color:#1e90ff}#nav_exercises h3,#nav_references h3,#nav_tutorials h3{padding-left:6px;color:#fff}#nav_exercises span,#nav_references span,#nav_tutorials span{color:#fff}.ref_overview{display:none}.km-example{background-color:#f1f1f1;padding:.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important}.nextprev a{font-size:17px;border:1px solid #ccc}.nextprev a:link,.nextprev a:visited{background-color:#fff;color:#000}.km-example a:focus,.nextprev a:focus{box-shadow:0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.nextprev a.km-left,.nextprev a.km-right{background-color:#0065c7;color:#fff;border-color:#00008b;padding:8px;text-decoration:none;transition-duration:.4s}.nextprev a.km-left:hover,.nextprev a.km-right:hover{background-color:green;border-radius:0 10px;box-shadow:-1px 11px 13px 0 #c1bebe}.km-theme{color:#fff!important;background-color:#73ad21!important;background-color:#4caf50!important}.km-theme-border{border-color:#4caf50!important}.sharethis a:hover{color:inherit}.fa-facebook-square,.fa-google-plus-square,.fa-twitter-square{padding:0 8px}.fa-facebook-square:hover,.fa-thumbs-o-up:hover{color:#3b5998}.fa-twitter-square:hover{color:#55acee}.fa-google-plus-square:hover{color:#dd4b39}.km-main{transition:margin-left 0s}@media only screen and (max-width:475px){.phonebr{display:initial}}@media only screen and (max-width:480px){.km-code{font-size:14px}.km-codespan{font-size:15px}}@media only screen and (max-width:600px){#km-exerciseform,.km-example,.km-note{margin-left:-16px;margin-right:-16px}.top{height:68px}.toptext{display:none}}span.deprecated,span.marked{color:#e80000;background-color:transparent}.km-btn,.km-btn:link,.km-btn:visited{color:#fff;background-color:#4caf50}a.km-btn[href*="exercise.html"],a.km-btn[href*="exercise_js.html"]{margin:10px 5px 0 0}a.btnplayit,a.btnplayit:link,a.btnplayit:visited{background-color:#ffad33;padding:1px 10px 2px 10px}a.btnplayit:active,a.btnplayit:hover{background-color:#fff;color:#ffad33}a.btnplayit:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,.2)}a.btnsmall:active,a.btnsmall:hover,a.btnsmall:link,a.btnsmall:visited{float:right;padding:1px 10px 2px 10px;font:15px Verdana,sans-serif}a.btnsmall:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,.2)}a.btnsmall:active,a.btnsmall:hover{color:#4caf50;background-color:#fff}@media only screen and (max-width:700px){#mainLeaderboard{height:60px}#div-gpt-ad-1422003450156-0,#div-gpt-ad-1422003450156-3{float:none;margin-left:auto;margin-right:auto}}@media only screen and (max-width:992px){#sidenav{width:260px;box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}#sidenav h2{font-size:26px;width:100%}#sidenav a{padding:3px 2px 3px 24px;font-size:17px}#leftmenuinner{overflow:auto;-webkit-overflow-scrolling:touch;height:100%;position:relative;width:auto}#leftmenuinnerinner{overflow:hidden}.bottomad{float:none;text-align:center}#skyscraper{min-height:60px}}@media only screen and (min-width:1675px){#main{width:76%}#right{width:23%}}.km-bar .km-bar-item{float:none}#open_btns{top:0;position:fixed;right:0;background:green;float:right}#open_btns a{height:44px;float:right}#km-topnav{display:none}#nav_references{margin-top:172px}#nav_exercises{margin-top:130px}#km-topnav{display:block;width:auto;overflow:hidden;height:44px;background:green;position:fixed;left:104px;right:51px}#km-topnav a{display:block}#km-topnav a:nth-of-type(n+4){visibility:hidden;display:initial}.KmarsHub-logo{font-size:48px;position:relative;top:28px;text-align:center;width:100%;margin:auto}@media only screen and (min-width:605px){#open_btns a:nth-last-child(3){display:none}#km-topnav a:nth-of-type(n+4){visibility:inherit}.km-bar .km-bar-item{float:left}#km-topnav{height:44px!important;left:104px!important;top:0!important;right:50px!important}#nav_exercises,#nav_references,#nav_tutorials{margin-top:44px}#google_translate_element,.goog-te-gadget-simple{right:54px!important}}@media only screen and (min-width:993px){#km-topnav{left:52px!important}}.km-button:hover{color:#fff!important;background-color:#1e90ff!important}hr[id^=ez-insert-after-placeholder]{margin-top:0}.phonebr{display:none}.km-badge:hover,.km-tag:hover{color:#fff;text-decoration:none;background-color:#8a2be2}.post-header{display:none}#km-search{width:100%;top:44px;padding:8px;background:#0065c7;float:left;position:fixed;z-index:2;display:none}.active{color:#fff!important;background-color:#1e90ff!important}.km-btn,.km-btn:link,.km-btn:visited{color:#fff;background-color:#003280}.skip{position:absolute;top:-1000px;left:-1000px}.km-demo-btn{color:#fff;background-color:green;border:none;display:inline-block;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap}.km-demo-btn:hover{background-color:#00f}.km-learn-box{border-left:8px solid;margin:16px 0;padding:0 12px}.km-learn-box:after,.km-learn-box:before{content:&quot;clear:both}.km-danger{background-color:#ffe8d4;border-left-color:#673ab7}.km-warning{background-color:#fdd;border-left-color:#d00f01}.km-info{background-color:#dfd;border-left-color:#4caf50}.km-intro{background-color:#e6f8ff;border-left-color:#003280}.km-note{background-color:#ffe8d4;border-left-color:#f69d3c}.km-tips{background-color:#ffe8d4;border-left-color:#f69d3c}.km-tricks{background-color:#ffe8d4;border-left-color:#673ab7}.km-footer h4{color:#fff;margin:0;padding:1em 14px}.km-footer-1 a,.km-footer-1 h4{background:#8b0000}.km-footer-2 a,.km-footer-2 h4{background:#4169e1}.km-footer-3 a,.km-footer-3 h4{background:green}.km-footer-4 a,.km-footer-4 h4{background:#b8860b}.km-footer a{color:#fff;display:block;padding:8px 12px;margin:2px}.km-footer a:hover{padding-left:14px;cursor:pointer}#to-top{padding:8px;background:indigo;color:#fff;position:fixed;bottom:13px;font-size:16px;z-index:4001;text-decoration:none;font-weight:800}
