.km-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.km-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

.km-table,
.km-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.km-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.km-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.km-ul li:last-child {
	border-bottom: 0
}

.km-select {
	padding: 9px 0;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc
}

.km-dropdown-click,
.km-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.km-dropdown-hover:hover .km-dropdown-content {
	display: block
}

.km-dropdown-click:hover,
.km-dropdown-hover:first-child {
	background-color: #ccc;
	color: #000
}

.km-dropdown-click:hover>.km-button:first-child,
.km-dropdown-hover:hover>.km-button:first-child {
	background-color: #ccc;
	color: #000
}

.km-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.km-bar-block .km-dropdown-click,
.km-bar-block .km-dropdown-hover {
	width: 100%
}

.km-bar-block .km-dropdown-click .km-dropdown-content,
.km-bar-block .km-dropdown-hover .km-dropdown-content {
	min-width: 100%
}

.km-bar-block .km-dropdown-click .km-button,
.km-bar-block .km-dropdown-hover .km-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

#main,
.km-main {
	transition: margin-left .4s
}

.km-bar {
	width: 100%;
	overflow: hidden
}

.km-center .km-bar {
	display: inline-block;
	width: auto
}

.km-bar .km-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: 0;
	display: block;
	outline: 0
}

.km-bar .km-dropdown-click,
.km-bar .km-dropdown-hover {
	position: static;
	float: left
}

.km-bar .km-button {
	white-space: normal
}

.km-bar-block .km-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: 0;
	white-space: normal;
	float: none;
	outline: 0
}

.km-bar-block.km-center .km-bar-item {
	text-align: center
}

.km-block {
	display: block;
	width: 100%
}

.km-responsive {
	display: block;
	overflow-x: auto
}

.km-bar:after,
.km-bar:before,
.km-cell-row:after,
.km-cell-row:before,
.km-clear:after,
.km-clear:before,
.km-container:after,
.km-container:before,
.km-panel:after,
.km-panel:before,
.km-row-padding:after,
.km-row-padding:before,
.km-row:after,
.km-row:before {
	content: "";
	display: table;
	clear: both
}

.km-col,
.km-half,
.km-quarter,
.km-third,
.km-threequarter,
.km-twothird {
	float: left;
	width: 100%
}
.km-col.s1 {
	width: 8.33333%
}

.km-col.s2 {
	width: 16.66666%
}

.km-col.s3 {
	width: 24.99999%
}

.km-col.s4 {
	width: 33.33333%
}

.km-col.s5 {
	width: 41.66666%
}

.km-col.s6 {
	width: 49.99999%
}

.km-col.s7 {
	width: 58.33333%
}

.km-col.s8 {
	width: 66.66666%
}

.km-col.s9 {
	width: 74.99999%
}

.km-col.s10 {
	width: 83.33333%
}

.km-col.s11 {
	width: 91.66666%
}

.km-col.s12 {
	width: 99.99999%
}
@media(min-width:601px) {
	.km-col.m1 {
		width: 8.33333%
	}
	.km-col.m2 {
		width: 16.66666%
	}
	.km-col.m3,
	.km-quarter {
		width: 24.99999%
	}
	.km-col.m4,
	.km-third {
		width: 33.33333%
	}
	.km-col.m5 {
		width: 41.66666%
	}
	.km-col.m6,
	.km-half {
		width: 49.99999%
	}
	.km-col.m7 {
		width: 58.33333%
	}
	.km-col.m8,
	.km-twothird {
		width: 66.66666%
	}
	.km-col.m9,
	.km-threequarter {
		width: 74.99999%
	}
	.km-col.m10 {
		width: 83.33333%
	}
	.km-col.m11 {
		width: 91.66666%
	}
	.km-col.m12 {
		width: 99.99999%
	}
}

@media(min-width:993px) {
	.km-col.l1 {
		width: 8.33333%
	}
	.km-col.l2 {
		width: 16.66666%
	}
	.km-col.l3 {
		width: 24.99999%
	}
	.km-col.l4 {
		width: 33.33333%
	}
	.km-col.l5 {
		width: 41.66666%
	}
	.km-col.l6 {
		width: 49.99999%
	}
	.km-col.l7 {
		width: 58.33333%
	}
	.km-col.l8 {
		width: 66.66666%
	}
	.km-col.l9 {
		width: 74.99999%
	}
	.km-col.l10 {
		width: 83.33333%
	}
	.km-col.l11 {
		width: 91.66666%
	}
	.km-col.l12 {
		width: 99.99999%
	}
}
.km-auto,
.km-content {
	margin-left: auto;
	margin-right: auto
}

.km-content {
	max-width: 980px
}

.km-hide {
	display: none!important
}

.km-show,
.km-show-block {
	display: block!important
}

.km-show-inline-block {
	display: inline-block!important
}
@media(max-width:1205px) {
	.km-auto {
		max-width: 95%
	}
}

@media(max-width:600px) {
	.km-hide-small {
		display: none!important
	}
}
@media(min-width:993px) {
	.km-hide-large {
		display: none!important
	}
	.km-sidebar.km-collapse {
		display: block!important
	}
}
@media(max-width:992px) and (min-width:601px) {
	.km-hide-medium {
		display: none!important
	}
}

@media(max-width:992px) {
	.km-sidebar.km-collapse {
		display: none
	}
	.km-main {
		margin-left: 0!important;
		margin-right: 0!important
	}
	.km-auto {
		max-width: 100%
	}
}
.km-bottom,
.km-top {
	position: fixed;
	width: 100%;
	z-index: 1
}

.km-top {
	top: 0
}

.km-bottom {
	bottom: 0
}

.km-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2
}

.km-row-padding,
.km-row-padding>.km-col,
.km-row-padding>.km-half,
.km-row-padding>.km-quarter,
.km-row-padding>.km-third,
.km-row-padding>.km-threequarter,
.km-row-padding>.km-twothird {
	padding: 0 8px
}
table.km-table-all{margin:20px 0}
